.gradle
local.properties
gradle.properties
/.idea
.DS_Store
/build
/demo/bin
/demo/gen
*.iml

demo/*.iml
basesdk/*.iml
demo/out
basesdk/out
basesdk/assets/git_revision
basesdk/src/com/netease/nimlib/config/ServerEnvs.java
demo/src/com/netease/nim/demo/config/ServerEnvs.java
basesdk/build
demo/build
