<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2021 NetEase, Inc.  All rights reserved.
  ~ Use of this source code is governed by a MIT license that can be found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.yunxin.nertc.nertcvideocall">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <receiver android:name=".service.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>

    </application>
</manifest>