<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022 NetEase, Inc.  All rights reserved.
  ~ Use of this source code is governed by a MIT license that can be found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="com.netease.yunxin.app.im">

    <application android:name=".IMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xkit">
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="app key" />

        <activity android:name=".welcome.WelcomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action android:name="https://netease.yunxin.im.demo.home"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".main.mine.UserInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.EditNicknameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />


        <meta-data
            android:name="com.netease.yunxin.app.im.XKitInitOptionsImpl"
            android:value="com.netease.yunxin.xkit.options"/>

    </application>

</manifest>