<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jrmf360.neteaselib">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 要检查用户权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>

        <activity
            android:name="com.jrmf360.neteaselib.rp.ui.OpenRpActivity"
            android:launchMode="singleTask"
            android:theme="@style/Jrmf_b_DialogTheme"/>

        <activity
            android:name="com.jrmf360.neteaselib.rp.ui.PActivity"
            android:launchMode="singleTask"
            android:theme="@style/jrmf_b_dialog"/>
        <activity
            android:name="com.jrmf360.neteaselib.rp.ui.TransPayActivity"
            android:launchMode="singleTask"
            android:theme="@style/jrmf_b_dialog"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.SgRpActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.SsRpActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.RpDetailActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.MyRpActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.AuthenActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.PwdH5Activity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.AcfActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.AcsActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.BankCardListActivity"/>

        <activity android:name="com.jrmf360.neteaselib.rp.ui.TransAccountActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.TransSuccActivity"/>
        <activity android:name="com.jrmf360.neteaselib.rp.ui.TransDetailActivity"/>

        <!--钱包页面-->
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.MyWalletActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.AccountInfoActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.TradeHistoryActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.SecureSettingActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.SupportBankCardActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.BankSettingActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.AddCardSecondActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.AddCardFirstActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.RechargeActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.GetDepositActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.MyRpActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.TradeDetailActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.RpDetailActivity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.PwdH5Activity"/>
        <activity android:name="com.jrmf360.neteaselib.wallet.ui.AuthenActivity"/>

        <!-- 支付宝配置开始 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!-- 支付宝 配置结束 -->

    </application>

</manifest>
